.nav-link.active {
    border-bottom: 2px solid var(--bs-dark) !important;
    color: var(--bs-dark) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 1px rgb(0, 0, 0) !important; 
    background-color: #fff;
    outline: 0;
}

.dropdown-item:hover {
    background-color: var(--bs-dark) !important;
    color: white !important;
}

.dropdown-item:active {
    background-color: var(--bs-gray-800) !important;
}

body {
    min-height: 100vh;
    background-color: #efefef;
    background-image: 
        linear-gradient(90deg, #e4e4e4 1px, transparent 5px);
    background-size: 50px 50px;
}