@page "/about"

@rendermode InteractiveServer

<PageTitle>Om oss</PageTitle>

<div class="d-flex flex-column align-items-center min-vh-100 card shadow-lg p-5">
	<div style="max-width: 800px; text-align: center;">
		<h1 class="mb-3">Välkommen till Second Hand Shop</h1>
		<p class="text-center text-muted mb-4">Hållbart • Enkelt • Prisvärt</p>
		<hr class="mx-auto mb-5" style="width: 200px;" />


		<h2 class="mb-3">Vår idé</h2>
		<p>
			Vi tror på att ge prylar ett andra liv.
			Genom att handla second hand bidrar vi tillsammans till en mer hållbar framtid
			och minskar onödig konsumtion.
		</p>
		<h2 class="mb-3">Hur fungerar det?</h2>
		<p>
			Lägg upp en annons på några minuter, nå ut till andra användare och gör en affär direkt.
			Enkelt, snabbt och tillgängligt för alla.
		</p>
		<hr class="mb-3 mx-auto" />

		<h2 class="mb-3 mt-5">Har du frågor?</h2>
		<div class="card p-4" style="background-color: #f8f9fa;">
			<div class="d-flex gap-5 justify-content-center">
				<div style="text-align: left; line-height: 2.2;">
					<strong>Kontakt:</strong><br>
					• kontakt@secondhandshop.se<br>
					• 070-123 45 67<br>
					• Handelsgatan 7, 582 14 Linköping, Sverige
				</div>
				<div style="text-align: left; line-height: 2.2;">
					<strong>Sociala medier:</strong><br>
					• Instagram<br>
					• Facebook<br>
					• Twitter
				</div>
			</div>
		</div>
	</div>
</div>