@page "/account"
@using Microsoft.AspNetCore.Components.Authorization
@using SecondHandShop.Shared.Enums

@rendermode InteractiveServer

<PageTitle>Konto</PageTitle>

<div class="container d-flex flex-column align-items-center py-5">
  <AuthorizeView>
    <Authorized>
      @if (context.User.IsInRole("Admin"))
      {
        <AdminDashboard />
      }
      else
      {
        <UserDashboard />
      }
    </Authorized>
    <NotAuthorized>
      <AuthModal />
    </NotAuthorized>
  </AuthorizeView>
</div>